<article>
    <section class="row">
        <div class="bg-blue-500 col-12 col-sm-12 col-md-6 p-5 text-light">
            <p>Hello World!</p>
            <h1 class="fs-1 fw-bolder">Abdullah Elrouby</h1>
            <p class="fs-4 italic">A Professional Software Engineer</p>
            <p>Fullstack Web Developer with ASP.NET and Angular, Maui Xaml, Windows Forms</p>
            <div class="d-flex gap-4 cursor-pointer">
                <a class="text-dark" href="https://www.facebook.com/abdallah.n.elrouby"><i class="bi bi-facebook fs-1 hover:text-blue-600"></i></a>
                <a class="text-dark" href="https://wa.me/01208033237"><i class="bi bi-whatsapp fs-1 hover:text-green-500"></i></a>
                <a class="text-dark" href="https://www.linkedin.com/in/abdullah-elrouby"><i class="bi bi-linkedin fs-1 hover:text-blue-900"></i></a>
                <a class="text-dark" href="https://github.com/ElroubyMagnos"><i class="bi bi-github fs-1 hover:text-black"></i></a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <img class="w-100 h-[400px]" src="cover.jpg" alt="">
        </div>
    </section>

    <section class="mt-5 row border-2 p-1 border-blue-600">
        <h1 class="text-center mb-5">My Most Popular Projects</h1>

        <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">Less Core</h5>
              <p class="card-text">A great Windows Forms software created to help you make your own css library</p>
              <a href="https://github.com/ElroubyMagnos/LessCore" class="btn btn-primary form-control"><i class="bi bi-github fs-1 hover:text-black"></i></a>
            </div>
        </div>

        <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">Elrouby Maui Library</h5>
              <p class="card-text">A maui ui library that helps you with lots of controls, most of them exist in windows forms</p>
              <a href="https://github.com/ElroubyMagnos/ElroubyMauiLibrary" class="btn btn-primary form-control"><i class="bi bi-github fs-1 hover:text-black"></i></a>
            </div>
        </div>
        
        <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">Elrouby Maui Library Plus</h5>
              <p class="card-text">A new version of ElroubyMauiLibrary Extended and Better</p>
              <a href="https://www.nuget.org/packages/ElroubyMauiLibraryPlus" class="btn btn-primary form-control"><img class="m-auto" src="nuget.png" alt=""></a>
            </div>
        </div>
        
        <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">Elrouby Core Support</h5>
              <p class="card-text">A UI library for net core support</p>
              <a href="https://www.nuget.org/packages/ElroubyCoreSupport" class="btn btn-primary form-control"><img class="m-auto" src="nuget.png" alt=""></a>
            </div>
        </div>

        <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">Elrouby Decrypted Desktop</h5>
              <p class="card-text">A windows forms software where you can put your files safe</p>
              <a href="https://github.com/ElroubyMagnos/ElroubyDecryptedDesktop" class="btn btn-primary form-control"><i class="bi bi-github fs-1 hover:text-black"></i></a>
            </div>
        </div>

        <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-title">EF-TS-LESS</h5>
              <p class="card-text">Working with entityframework, typescript and less</p>
              <a href="https://github.com/ElroubyMagnos/ef-ts-less" class="btn btn-primary form-control"><i class="bi bi-github fs-1 hover:text-black"></i></a>
            </div>
        </div>
    </section>

    <section class="skills m-5">
        <h1 class="text-center mb-2">My Skills</h1>

        <section class="grid grid-rows-5 gap-3">
            <div class="d-flex flex-column justify-center m-auto">
                <p class="fs-4">C#</p>
                <div class="w-[500px] bg-gray-500 h-[25px] before:bg-blue-700 before:absolute before:w-[90%] before:h-[25px] relative after:absolute after:w-[25px] after:h-[25px] after:text-black after:-top-7 after:content-['90%'] after:left-[90%] after:-translate-x-3"></div>
            </div>
            <div class="d-flex flex-column justify-center m-auto">
                <p class="fs-4">ASP NET Core Web API</p>
                <div class="w-[500px] bg-gray-500 h-[25px] before:bg-blue-700 before:absolute before:w-[100%] before:h-[25px] relative after:absolute after:w-[25px] after:h-[25px] after:text-black after:-top-7 after:content-['100%'] after:left-[100%] after:-translate-x-10"></div>
            </div>
            <div class="d-flex flex-column justify-center m-auto">
                <p class="fs-4">Html, CSS, Javascript,</p>
                <div class="w-[500px] bg-gray-500 h-[25px] before:bg-blue-700 before:absolute before:w-[95%] before:h-[25px] relative after:absolute after:w-[25px] after:h-[25px] after:text-black after:-top-7 after:content-['95%'] after:left-[95%] after:-translate-x-3"></div>
            </div>
            <div class="d-flex flex-column justify-center m-auto">
                <p class="fs-4">Less, Bootstrap, Tailwind</p>
                <div class="w-[500px] bg-gray-500 h-[25px] before:bg-blue-700 before:absolute before:w-[90%] before:h-[25px] relative after:absolute after:w-[25px] after:h-[25px] after:text-black after:-top-7 after:content-['90%'] after:left-[90%] after:-translate-x-3"></div>
            </div>
            <div class="d-flex flex-column justify-center m-auto">
                <p class="fs-4">Angular, Typescript</p>
                <div class="w-[500px] bg-gray-500 h-[25px] before:bg-blue-700 before:absolute before:w-[95%] before:h-[25px] relative after:absolute after:w-[25px] after:h-[25px] after:text-black after:-top-7 after:content-['95%'] after:left-[95%] after:-translate-x-3"></div>
            </div>
        </section>
    </section>

    <section class="WorkExp mt-5 mb-2">
        <h1 class="text-center mb-3">My Education</h1>

        <section class="d-flex flex-wrap justify-center items-center gap-1 text-light">
            <div class="hover:bg-blue-400 bg-blue-700 p-3 border-b-4 border-red-500 w-[300px] h-fit text-center">
                <p class="fw-bolder">Elnasr Official School (School)</p>
                <i class="fa-solid fa-school fs-3"></i>
            </div>
            <div class="hover:bg-blue-400 bg-blue-700 p-3 border-b-4 border-red-500 w-[300px] h-fit text-center">
                <p class="fw-bolder">Elgazera Institute (College)</p>
                <i class="fa-solid fa-building-columns fs-3"></i>
            </div>
        </section>
    </section>

    <section class="WorkExp mt-5 mb-2">
        <h1 class="text-center mb-3">My Experience</h1>

        <section class="d-flex flex-wrap justify-center items-center gap-1 text-light">
            <div class=" hover:bg-blue-400 bg-blue-600 p-3 border-b-4 border-red-500 w-[300px] h-[200px] text-center">
                <p class="fw-bolder fs-3">Kayan Smart Tech</p>
                <div class="d-flex justify-center align-items-center gap-3">
                    <img class="w-[100px] h-[100px]" src="/kayan.jpg" alt="">
                    <p class="fw-bolder fs-3">1 Year</p>
                </div>
            </div>
            <div class=" hover:bg-blue-400 bg-blue-600 p-3 border-b-4 border-red-500 w-[300px] h-[200px] text-center">
                <p class="fw-bolder">Vision For Computer and Sport Services</p>
                <div class="d-flex justify-center align-items-center gap-3">
                    <img class="w-[100px] h-[100px]" src="/vision.jpg" alt="">
                    <p class="fw-bolder fs-3">1 Year</p>
                </div>
            </div>
        </section>
    </section>

    <section>
        <h1 class="text-center mb-2 mt-5">Certificates</h1>

        <div class="d-flex flex-col justify-center items-center">
            <img class="w-[80%]" src="angular.jpg" alt="">
        </div>
    </section>
</article>